n8n_workflows/Elevenlabs_get_convo.json
{
  "name": "Elevenlabs get convo",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-conversations",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1aefb1d2-eb85-46e6-96c4-eb679fc89eda",
      "name": "Get Conversations Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -304,
        -160
      ],
      "webhookId": "5cf5bb7e-214f-401c-90f3-517efe6f67b8"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"conversations\": $json } }}",
        "options": {}
      },
      "id": "e437fe99-597f-4753-a2ea-164454ce3f2b",
      "name": "Get Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1120,
        -160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "db0b5986-02ee-45c0-b9bf-8cb717ea7a8d",
              "leftValue": "={{ $('Get Conversations Webhook').item.json.body.user_email }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        784,
        -160
      ],
      "id": "7172f308-2433-494c-8223-2974f97be528",
      "name": "If"
    },
    {
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Text",
                "value": "we dont have past conversations"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        992,
        0
      ],
      "id": "deac9209-3b72-428d-9f91-bb1659ec4fc1",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "conversations",
          "mode": "list",
          "cachedResultName": "conversations"
        },
        "where": {
          "values": [
            {
              "column": "User_id",
              "value": "={{ $json.User_id }}"
            },
            {
              "column": "Agent_id",
              "value": "agent_01jzvrgx8pff7btgjfwb8js84h"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        496,
        -160
      ],
      "id": "0663793e-80ec-4759-9b21-8da1833e5f74",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "rRNRYMccpgVme3d4",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "Users",
          "mode": "list",
          "cachedResultName": "Users"
        },
        "where": {
          "values": [
            {
              "column": "email",
              "value": "={{ $json.body.user_email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        -160
      ],
      "id": "414bbb26-988c-48bc-acb4-9ef031c9c4ba",
      "name": "Select rows from a table1",
      "credentials": {
        "postgres": {
          "id": "rRNRYMccpgVme3d4",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {
    "Get Conversations Webhook": [
      {
        "json": {
          "headers": {
            "host": "kabilan20040521.app.n8n.cloud",
            "user-agent": "Python/3.12 aiohttp/3.11.16",
            "content-length": "47",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "34.59.11.47",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "96622f8c557410c2-ORD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "34.59.11.47, 172.69.58.3",
            "x-forwarded-host": "kabilan20040521.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-76-b4b8c88f-z4zqc",
            "x-is-trusted": "yes",
            "x-real-ip": "34.59.11.47"
          },
          "params": {},
          "query": {},
          "body": {
            "user_email": "ravichandrankabilan@gmail.com"
          },
          "webhookUrl": "https://kabilan20040521.app.n8n.cloud/webhook/get-conversations",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Get Conversations Webhook": {
      "main": [
        [
          {
            "node": "Select rows from a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table1": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fd5aaa60-71f2-45d1-ae12-b1400d3be71d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2cb143d4b6a60f171da503f41db04512e10328c8fd982a9149630f4566525749"
  },
  "id": "HBj5zzyCiMCtwVyC",
  "tags": []
}